absl-py==2.1.0
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.15.0
BareNecessities==0.2.8
beautifulsoup4==4.12.3
black==25.1.0
bleach==6.1.0
blinker==1.9.0
blis==0.7.11
cachetools==5.5.0
catalogue==1.0.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
chess==1.11.2
click==8.1.7
cloudpathlib==0.21.0
colorama==0.4.6
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
cryptography==44.0.0
cycler==0.12.1
cymem==2.0.11
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.7.0
dotenv==0.9.9
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa
executing==2.2.0
fastapi-cli==0.0.5
fastjsonschema==2.20.0
filelock==3.16.1
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
gast==0.6.0
google-ai-generativelanguage==0.6.10
google-api-core==2.22.0
google-api-python-client==2.151.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.65.0
greenlet==3.0.3
grpcio==1.67.1
grpcio-status==1.67.1
h11==0.14.0
h2==4.2.0
h5py==3.12.1
hpack==4.1.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.0
hyperframe==6.1.0
idna==3.7
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jiter==0.8.0
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
jwcrypto==1.5.6
keras==3.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
langchain==0.3.22
langchain-core==0.3.49
langchain-text-splitters==0.3.7
langcodes==3.5.0
langsmith==0.3.22
language_data==1.3.0
libclang==18.1.1
Mail==2.1.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.1
msgpack==1.0.8
murmurhash==1.0.12
mypy_extensions==1.1.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==2.0.1
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.16
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathlib==1.0.1
pathspec==0.12.1
pexpect==4.9.0
phonenumbers==8.13.50
pillow==11.0.0
pip-system-certs==4.0
plac==1.1.3
platformdirs==4.3.7
polyline==2.0.3
portalocker==3.2.0
preshed==3.0.9
prometheus_client==0.20.0
prompt_toolkit==3.0.50
proto-plus==1.25.0
protobuf==5.28.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.9.1
pydantic_core==2.23.4
Pygments==2.19.1
PyJWT==2.10.1
pymongo==4.13.0
pynvim==0.5.0
pyparsing==3.2.0
python-chess==1.999
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.18
python2==1.2
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.4.0
qtconsole==5.5.2
QtPy==2.4.1
questionary==2.0.1
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.19.1
rsa==4.9
scikit-learn==1.5.1
scipy==1.14.0
Send2Trash==1.8.3
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.5
spacy==2.3.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
srsly==1.0.7
stack-data==0.6.3
starlette==0.41.2
strip-markdown==1.3
tenacity==9.1.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
thinc==7.4.6
thinc_apple_ops==1.0.0
threadpoolctl==3.5.0
tinycss2==1.3.0
tornado==6.4.2
tqdm==4.67.0
traitlets==5.14.3
truecallerpy==1.0.3
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.1
typing_extensions==4.13.1
tzdata==2024.1
uri-template==1.3.0
uritemplate==4.1.1
uritools==4.0.3
urlextract==1.9.0
urllib3==2.2.2
uvicorn==0.32.1
uvloop==0.21.0
wasabi==0.10.1
watchfiles==1.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.2
widgetsnbextension==4.0.11
wrapt==1.16.0
zstandard==0.23.0
